{% extends 'base.html' %}
{% block contents %}
<h2 style="color:white">{{name}} 게시판</h2>
<button type="button" class="btn btn-dark"><a href="{% url 'write' %}" id="w_button">글쓰기 버튼</a></button>
{%for p in category%}
    {% if p.blind == True %}
    {% else %}
    <div class="card mb-3 shadow" style="width: 100%;">
        <div class="card-body">
            카테고리 : {{p.category}}<br>
            제목 : {{p.title}}<br>
            <span style="font-size:0.8em;">{{p.user}} {{p.updated_at|date:"Y년m월d일"}} </span>
            <a href="{%url 'read' p.id%}" class="stretched-link"></a>
        </div>
    </div>
    {% endif %}
{% endfor %}
<br>

{% endblock %}