{%extends 'base.html' %}
{%block contents%}
{% load staticfiles %}
<br><br>
<div class="container"  align="center">
    <h1 style="font-family: 'Gaegu', cursive; font-size:5em; color:azure;">소근소근</h1>
    <br><br>
    <p class="a">말 못할 고민이 있을 때,
        <br>
        타인의 이야기를 들어주고 싶을 때,
        <br>
        누구나 고민을 주고 받을 수 있는 공간입니다.
        </p>

</div>

<span class="image blinking"><a  id="w_button"
style="text-decoration:none; font-size:0.7cm;color:antiquewhite; font-family:'Gaegu';position:relative;left:800px">소근소근</a></span><br>
<span class="image blinking"><a  id="w_button"
style="text-decoration:none; font-size:0.7cm;color:antiquewhite; font-family:'Gaegu';position:relative;left:200px">소근소근</a></span><br>
<span class="image blinking"><a  id="w_button"
style="text-decoration:none; font-size:0.7cm;color:antiquewhite; font-family:'Gaegu';position:relative;left:400px">소근소근</a></span><br>
<span class="image blinking"><a  id="w_button"
style="text-decoration:none; font-size:0.7cm;color:antiquewhite; font-family:'Gaegu';position:relative;left:900px">소근소근</a></span><br>
<span class="image blinking"><a  id="w_button"
style="text-decoration:none; font-size:0.7cm;color:antiquewhite; font-family:'Gaegu';position:relative;left:100px">소근소근</a></span><br>
<span class="image blinking"><a  id="w_button"
style="text-decoration:none; font-size:0.7cm;color:antiquewhite; font-family:'Gaegu';position:relative;left:700px">소근소근</a></span><br>
<span class="image blinking"><a  id="w_button"
style="text-decoration:none; font-size:0.7cm;color:antiquewhite; font-family:'Gaegu';position:relative;left:300px">소근소근</a></span><br>
<span class="image blinking"><a  id="w_button"
style="text-decoration:none; font-size:0.7cm;color:antiquewhite; font-family:'Gaegu';position:relative;left:500px">소근소근</a></span><br>
<span class="image blinking"><a  id="w_button"
style="text-decoration:none; font-size:0.7cm;color:antiquewhite; font-family:'Gaegu';position:relative;left:400px">소근소근</a></span><br>
<span class="image blinking"><a  id="w_button"
style="text-decoration:none; font-size:0.7cm;color:antiquewhite; font-family:'Gaegu';position:relative;left:800px">소근소근</a></span><br>
<span class="image blinking"><a  id="w_button"
style="text-decoration:none; font-size:0.7cm;color:antiquewhite; font-family:'Gaegu';position:relative;left:600px">소근소근</a></span><br>
<span class="image blinking"><a  id="w_button"
style="text-decoration:none; font-size:0.7cm;color:antiquewhite; font-family:'Gaegu';position:relative;left:900px">소근소근</a></span><br>
<span class="image blinking"><a  id="w_button"
style="text-decoration:none; font-size:0.7cm;color:antiquewhite; font-family:'Gaegu';position:relative;left:100px">소근소근</a></span><br>
<span class="image blinking"><a  id="w_button"
style="text-decoration:none; font-size:0.7cm;color:antiquewhite; font-family:'Gaegu';position:relative;left:400px">소근소근</a></span><br>












<style>

        body {
            height: 95vh;
            background-image:url("{% static '검은 일러스트.jpg'%}");
            background-repeat: no-repeat;
            background-size: cover;
        }
        p.a{
            font-family: 'Noto Serif KR', serif;
            color:azure;
            font-size:1.5em;
        .blinking {
            -webkit-animation: blink 1.5s ease-in-out infinite alternate;
            -moz-animation: blink 1.5s ease-in-out infinite alternate;
            animation: blink 1.5s ease-in-out infinite alternate;
        }
    
        @-webkit-keyframes blink {
            0% {
                opacity: 0;
            }
    
            100% {
                opacity: 1;
            }
        }
    
        @-moz-keyframes blink {
            0% {
                opacity: 0;
            }
    
            100% {
                opacity: 1;
            }
        }
    
        @keyframes blink {
            0% {
                opacity: 0;
            }
    
            100% {
                opacity: 1;
            }
        }
    
    </style>
{%endblock%}