{%extends 'base.html' %}
{%block contents%}
{% load staticfiles %}
<a class="navbar-brand" href="{%url 'main'%}" style="font-family: 'Gaegu', cursive; font-size:3em; color:white; position:relative; left:500px">소근소근</a>
<a class="navbar-brand" href="{%url 'main'%}" style="font-family: 'Gaegu', cursive; font-size:3em; color:white; position:relative; left:900px">소근소근</a>
<a class="navbar-brand" href="{%url 'main'%}" style="font-family: 'Gaegu', cursive; font-size:3em; color:white; position:relative; left:100px">소근소근</a>
<a class="navbar-brand" href="{%url 'main'%}" style="font-family: 'Gaegu', cursive; font-size:3em; color:white; position:relative; left:300px">소근소근</a>
<a class="navbar-brand" href="{%url 'main'%}" style="font-family: 'Gaegu', cursive; font-size:3em; color:white; position:relative; left:350px">소근소근</a>
<a class="navbar-brand" href="{%url 'main'%}" style="font-family: 'Gaegu', cursive; font-size:3em; color:white; position:relative; left:150px">소근소근</a>
<a class="navbar-brand" href="{%url 'main'%}" style="font-family: 'Gaegu', cursive; font-size:3em; color:white; position:relative; left:890px">소근소근</a>
<a class="navbar-brand" href="{%url 'main'%}" style="font-family: 'Gaegu', cursive; font-size:3em; color:white; position:relative; left:700px">소근소근</a>
<a class="navbar-brand" href="{%url 'main'%}" style="font-family: 'Gaegu', cursive; font-size:3em; color:white; position:relative; left:320px">소근소근</a>
<a class="navbar-brand" href="{%url 'main'%}" style="font-family: 'Gaegu', cursive; font-size:3em; color:white; position:relative; left:180px">소근소근</a>
















<style>

        body {
            height: 95vh;
            background-image:url("{% static '검은 일러스트.jpg'%}");
            background-repeat: no-repeat;
            background-size: cover;
        }
    
    </style>
{%endblock%}