{%extends 'base.html' %}
{%block contents%}
{% load staticfiles %}
<br><br>
<div class="container"  align="center">
    <h1 style="font-family: 'Gaegu', cursive; font-size:5em; color:azure;">소근소근</h1>
    <br><br>
    <p class="a">말 못할 고민이 있을 때,
        <br>
        타인의 이야기를 들어주고 싶을 때,
        <br>
        누구나 고민을 주고 받을 수 있는 공간입니다.
        </p>

</div>













<style>

        body {
            height: 95vh;
            background-image:url("{% static '검은 일러스트.jpg'%}");
            background-repeat: no-repeat;
            background-size: cover;
        }
        p.a{
            font-family: 'Noto Serif KR', serif;
            color:azure;
            font-size:1.5em;
        }
    
    </style>
{%endblock%}