{% extends 'base.html' %}
{% block contents %}
{% load staticfiles %}

<div class='back mb-5' align="center"> 

    <div style="font-family: 'Noto Serif KR', serif; font-size:3em; color:azure;padding-top:3em;">우리들을 위한 말하기 공간</div>
    <div style="font-family: 'Gaegu', cursive; font-size:9em; color:azure;">소근소근</div>
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-dark" style="float: center; color:rgb(41, 41, 64);"><a href="{% url 'write' %}" id="w_button" style="color:azure;">글쓰기
            버튼</a></button>
        {% else %}
    {%endif%}
</div>
<!-- 
{%for p in posts%}
{% if p.blind == True %}
{% else %}
<div class="card mb-3 shadow" style="width: 100%;">
    <div class="card-body"> 
        카테고리 : {{p.category}}<br>
        제목 : {{p.title}}<br>
        <span style="font-size:0.8em;">{{p.user}} {{p.updated_at|date:"Y년m월d일"}} </span>
        <a href="{%url 'read' p.id%}" class="stretched-link"></a>
    </div>
</div>
{% endif %}
{% endfor %}
<br> -->
<!-- <table class="greyGridTable">
    <div class="container">
    <thead>
    <tr class="row">
    <th class="col-3">진로</th>
    <th class="col-3">취업</th>
    <th class="col-3">연애</th>
    <th class="col-3">친구</th>
    </tr>
    </thead>
    
    <tbody>
    <tr class="row">
        <td class="col-3">
            {%for p in post1%}
            <span class="date">{{p.updated_at|date:"Y년m월d일"}}</span>
            <a href="{%url 'read' p.id%}" class="name">{{p.title|truncatechars:9}}</a>
            <br>
            {%endfor%}
        </td>
        <td class="col-3">
            {%for p in post2%}
            <span class="date">{{p.updated_at|date:"Y년m월d일"}}</span>
            <a href="{%url 'read' p.id%}" class="name">{{p.title|truncatechars:9}}</a>
            <br>
            {%endfor%}
        </td>
        <td class="col-3">
            {%for p in post3%}
            <span class="date">{{p.updated_at|date:"Y년m월d일"}}</span>
            <a href="{%url 'read' p.id%}" class="name">{{p.title|truncatechars:9}}</a>
            <br>
            {%endfor%}
        </td>
        <td class="col-3">
            {%for p in post4%}
            <span class="date">{{p.updated_at|date:"Y년m월d일"}}</span>
            <a href="{%url 'read' p.id%}" class="name">{{p.title|truncatechars:9}}</a>
            <br>
            {%endfor%}
        </td>
    </tr>
    </tbody>
</div>
    </table>
    <table class="greyGridTable">
            <div class="container">
            <thead>
            <tr class="row">
            <th class="col-3">외모</th>
            <th class="col-3">19</th>
            <th class="col-3">기타</th>
            <th class="col-3">뀨</th>
            </tr>
            </thead>
            
            <tbody>
            <tr class="row">
                <td class="col-3">
                    {%for p in post5%}
                    <span class="date">{{p.updated_at|date:"Y년m월d일"}}</span>
                    <a href="{%url 'read' p.id%}" class="name">{{p.title|truncatechars:9}}</a>
                    <br>
                    {%endfor%}
                </td>
                <td class="col-3">
                    {%for p in post6%}
                    <span class="date">{{p.updated_at|date:"Y년m월d일"}}</span>
                    <a href="{%url 'read' p.id%}" class="name">{{p.title|truncatechars:9}}</a>
                    <br>
                    {%endfor%}
                </td>
                <td class="col-3">
                    {%for p in post7%}
                    <span class="date">{{p.updated_at|date:"Y년m월d일"}}</span>
                    <a href="{%url 'read' p.id%}" class="name">{{p.title|truncatechars:6}}</a>
                    <br>
                    {%endfor%}
                </td>
                <td class="col-3">
                    <img src="{% static 'logo.jpg'%}" width="100px" height="100px" style="position:relative; left:110px"> 
                </td>
            </tr>
            </tbody>
        </div>
            </table>
 -->




 <style>

        body {
            height: 95vh;
            background-image:url("{% static '검은 일러스트.jpg'%}");
            background-repeat: no-repeat;
            background-size: cover;
        }
    
    </style>
    <!-- table.greyGridTable {
        margin:10px;
        border: 2px solid rgb(255, 255, 255);
        width: 98%;
        border-collapse: collapse;
        color:white;
    }
    table.greyGridTable td, table.greyGridTable th {
        border: rgb(255, 255, 255);
        
    }
    table.greyGridTable tbody td {
        font-size: 13px;
        
    }
    table.greyGridTable td:nth-child(even) {
        
    }
    table.greyGridTable thead {
    
        border-bottom: 4px solid #ffffff;
    }
    table.greyGridTable thead th {
        font-size: 15px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        border-left: 2px solid #333333;
    }
    table.greyGridTable thead th:first-child {
        border-left: none;
    }
    
    table.greyGridTable tfoot {
        font-size: 14px;
        font-weight: bold;
        color: #333333;
        border-top: 4px solid #ffffff;
    }
    table.greyGridTable tfoot td {
        font-size: 14px;
    } -->



{% endblock %}