{% extends 'base.html' %}
{% block contents %}


<div class="card mb-3 shadow" style="width: 100%;">
    <div class="card-body">
        {% if user.is_authenticated %}
        <form action="{% url 'report' post.id%}">
            {{post.report_num}}
            <button type="submit" class="btn btn-primary btn-lg">신고</button>
        </form>
        {%endif%}

        {%if post.anonymous == True%}
            <h4 class="card-title">글쓴사람 : 익명</h4>
        {%else%}
        <h4 class="card-title">글쓴사람 : <a href="{% url 'p_profile' post.id post.user %}">{{post.user}}</h4></a>
        <h4 class="card-title">별명 : <a href="{% url 'p_profile' post.id post.user %}">{{post.user.profile.nickname}}</a></h4>
        {%endif%}
        <h4 class="card-title">카테고리 : {{post.category}}</h4>
        <h4 class="card-title">제목 : {{post.title}}</h4>
        <h4 class="card-title">내용 : {{post.content}}</h4>
        {%if post.image %}
            <h4 class="card-title">사진 : <img src="{{post.image.url}}" alt=""></h4>
        {%endif%}
        <h4 class="card-title">공감수 : {{post.like_num}}</h4>
        <h4 class="card-title">비공감수 : {{post.dislike_num}}</h4>
        <h4 class="card-title">총점 : {{post.like_result}}</h4>
        <h4 class="card-title">글쓴시간 : {{post.created_at}}</h4>
        <h4 class="card-title">수정시간 : {{post.updated_at}}</h4>
        {% if user.is_authenticated %}
        <form action="{%url 'setPLike' post.id%}">
            <button type="submit" class="btn btn-primary btn-lg">공감한다.</button>
        </form>
        <form action="{%url 'setPdisLike' post.id%}">
            <button type="submit" class="btn btn-primary btn-lg">비공감한다.</button>
        </form>
        {% endif %}
        
        {%if request.user == post.user or request.user.is_staff %}
        <!-- 댓글쓴이와 로그인한 유저가 같을 때 보이는 화면 -->
        <form action="{%url 'update' post.id%}">
            <input type="submit" value="수정하기"></input>
        </form>
        <form action="{%url 'delete' post.id%}">
            <input type="submit" value="삭제하기"></input>
        </form>
        {%endif%}
    </div>
</div>

{% if user.is_authenticated %}
<form action="{%url 'c_create' post.id%}" method="POST">
    {%csrf_token%}
    <div class="input-group mt-5 mb-5">
        <input type="text" name="comment" class="form-control" placeholder="댓글을 입력하세요">
        <div class="input-group-append">
            <button class="btn btn-danger"><i class="fas fa-pencil-alt"></i></button>
        </div>
    </div>
</form>
{% endif %}

<!-- 아래 이후 댓글 -->
<div>
    <ul class="list-group mb-2">
        {%for c in comment%}
        <li class="list-group-item list-group-item-light">
            <span style="font-weight: bold;font-size:0.7em;"><a href="{% url 'c_profile' c.id c.user %}">{{c.user.profile.nickname}}</a></span>
            <!-- 댓글 쓴사람 -->
            <br>
            {{c.content}}
            {% if user.is_authenticated %}
            <form action="{%url 'setCLike' post.id c.id%}">
                <button type="submit" class="btn btn-primary btn-sm">공감한다.</button>
            </form>
            공감수 :  {{c.like_num}}
            <form action="{%url 'setCdisLike' post.id c.id%}">
                <button type="submit" class="btn btn-primary btn-sm">비공감한다.</button>
            </form>
            비공감수 :  {{c.dislike_num}}
            {% endif %}
            {%if request.user == c.user or request.user.is_staff %}
            <!-- 댓글쓴이와 로그인한 유저가 같을 때 보이는 화면 -->
            <form action="{%url 'c_delete' c.id%}">
                <input type="submit" value="댓글삭제"></input>
            </form>
            {%endif%}
            
        </li>
        {%endfor%}
    </ul>
</div>

<button class="btn btn-outline-danger"><a style="color:red;" href="{%url 'main'%}">글 목록</a></button>

{% endblock %}